body {
    // Pade d'accueil. Index
    .accueil {
        background-color: $background-container;
        text-align: justify;

        .row {
            margin-left: 0;
            margin-right: 0;
        }

        .facebook {
            text-align: center;
            max-height: 265px;
            min-height: 265px;
            background-color: $background-container;
            border-bottom: 15px solid ;
            border-image: url(/static/img/tweed.png);
            padding-top: 1.4em;

            .widgettitle {
                display: none;
            }
        }

        .tiers_lieu {
            font-family: $font-index;
            font-style: italic;
            box-shadow: 8px 8px 12px #aaa;
            margin-top: 4em;

            article {
                padding: 1em 0 4em 0;
                margin: 2em;


                h2 {
                    @include titre(32px, 600);
                    text-align: center;
                    margin-bottom: 1em;
                }
            }
        }

        .derniers_articles {
            width: 90%;
            padding-top: 4em;
            margin-left: 5%;
        }

        .partenaires {
            text-align: center;
            padding-top: 4em;
            img {
                width: 8em;
                height: auto;
            }
        }

        .nopadding {
           padding-left: 0;
           padding-right: 0;
        }
    }
}
