body {
    // Pade d'accueil. Index
    .accueil {
        background-color: $background-container;
        text-align: justify;

        .row {
            margin-left: 0;
            margin-right: 0;
        }

        .facebook {
            background-color: $background-container;
            max-height: 265px;
            border-bottom: 15px solid ;
            border-image: url(/static/img/tweed.png);

            iframe {
                width: 100%;
                padding-top: 1.4em;
                height: auto;
            }
        }

        .tiers_lieu {
            font-family: $font-index;
            font-style: italic;
            box-shadow: -5px -6px 7px 5px $color-flash, 0 5px 5px -5px $color-flash;
            margin-top: 4em;

            article {
                padding-bottom: 4em;
                margin: 2em;

                h2 {
                    @include titre(32px, 600);
                    text-align: center;
                    border: none;
                    padding-top: 1em;
                    margin-top: 2em;
                }
            }
        }

        .derniers_articles {
            width: 90%;
            padding-top: 4em;
            margin-left: 5%;
        }

        .partenaires {
            text-align: center;
            padding-top: 4em;
            img {
                width: 8em;
                height: 7em;
            }
        }

        .nopadding {
           padding-left: 0;
           padding-right: 0;
        }
    }
}
