body {
    .aside {
        letter-spacing: 0.5px;
        line-height: 1.5;
        text-align: left;
        padding-top: 1em;

        h4 {
            @include titre(20px, 700);
            color: $color-dark;
            border: none;
            padding: 1em 0 0 0;
            margin-top: 2em;

            a {
                text-decoration: none;
                color: $color-dark;
            }
        }

        ul {
            list-style-type: none;
            padding: 0 0 0 0;

            a {
                text-decoration: none;
                color: $color-dark;

                li {
                    font-family: $font-index;
                    font-size: 17px;
                    border-bottom: 1px solid gray;
                    padding: 0.5em;
                }

                li:hover {
                    color: white;
                    background-color: gray;
                }
            }
        }

        a:hover {
            color: gray;
        }
    }
}
