$font-title: 'Oswald', sans-serif;
$font-all: 'Lato', sans-serif;
$font-index: 'Source Sans Pro', sans-serif;

$font-great: 'Great Vibes', sans-serif;



$background-body: #EAEFBD;
$background-container: #FAFAFF;
$background-navBar-footer: #272932;

$color-dark: #4C5760;
$color-flash: #F18F01;
