body {
    //articles de :  Salle Multimedia, Fablab, Media-lab, Co-working.
    // detail formation
    // detail événement
    // A propos
    // Mentions Légales
    // Agenda

    .detail_formation,
    .espace_content {
        margin-top: 0.5em;
        padding: 0.5em;

        article {
            box-shadow: 8px 8px 12px #aaa;
            height: auto;
            padding: 1em 2em;

            h2 {
                @include titre(32px, 400);
                margin-bottom: 1em;
            }

            figure {
                img {
                    float: left;
                    width: 300px;
                    height: 200px;
                    margin-right: 1em;
                    @include transition;
                }

                img:hover {
                    transform: scale(1.1);
                }
            }

            .partenaire {
                text-align: center;

                img {
                    text-align: center;
                    width: 8em;
                    height: 7em;
                    padding: 0.5em 0 0 0.5em;
                }
            }

            .horaires {
                font-size: 20px;
                padding: 1em 0;
                margin-top: 6em;

                i {
                    margin-right: 1em;
                }
            }

            select,
            input {
                @include buttont ($color-flash, $color-flash);
                font-size: 15px;
                margin-bottom: 1em;
            }

            //Agenda
            .css-events-list {
                margin-bottom: 1.5em;
                text-align: left;

                .events-table {
                    .event-time {
                        width: 45%;
                    }

                    tbody {
                        border: 1px solid black;
                        border-left: none;
                        border-right: none;
                        tr {
                            td {
                                border-bottom: 1px solid black;

                                a,
                                a:hover {
                                    text-decoration: none;
                                    color: $color-dark;
                                }

                                a:hover {
                                    color: $color-flash;
                                }
                            }
                        }
                    }
                }

                .em-pagination {
                    margin: 1em 0;
                    text-align: center;
                }
            }
        }
    }
}
