body {
    //articles de :  Salle Multimedia, Fablab, Media-lab, Co-working.
    // detail formation
    // A propos
    .detail_formation,
    .espace_content {
        margin-top: 1em;
        padding: 1em;

        article {
            box-shadow: 8px 8px 12px #aaa;
            padding: 1em 2em;

            h2 {
                font-family: $font-title;
                font-weight: 400;
                padding-bottom: 1em;
            }


            figure {
                img {
                    float: left;
                    width: 300px;
                    height: 200px;
                    margin-right: 1em;
                }

                img:hover {
                    width: 50%;
                    height: 50%;

                }
            }

            p {
                img {
                    text-align: center;
                    width: 13em;
                    height: 8em;
                    padding: 0.5em 0 0 0.5em;
                }
            }
            .horaires {
                font-size: 20px;
                padding: 1em 0;
                margin-top: 6em;

                i {
                    margin-right: 1em;
                }
            }
        }
    }
}
