body {
    //evenements
    .evenements {

        .col-md-4,
        .col-md-3,
        .col-sm-6{
            padding-right: 0;
        }

        div > ul:nth-child(1) {
            padding-left: 0;
        }

        ul {
            list-style-type: none;
        }

        .col-md-3 {
            padding-left: 0;
        }

        h2 {
            @include titre(32px, 400);
            margin: 0 0 1em 0.5em;

        }

        article {
            position: relative;
            margin-bottom: 1.5em;
            @include transition;

            a {
                text-decoration: none;
                font-family: $font-title;
                font-size: 18px;
                color: $color-dark;
            }

            h3 {
                @include titre(24px, 400);
                background: transparent;
                border: none;
                position: absolute;
                width: 100%;
                left: 0;
                top: 33%;
                height: 2em;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            img {
                width: 100%;
                height: 9em;
            }
        }

        article:hover {
            background-color: $color-flash;
            transform: scale(1.1);

            h3, p {
                color: #fff;
            }

            img:hover {
                opacity: 0.5;
            }
        }
    }
}
