body {
    // Formation & atelier
    .formation_atelier {
        margin: 2em 0;

        article {
            box-shadow: 8px 8px 12px #aaa;
            margin-bottom: 2em;
            height: auto;


            a {
                text-decoration: none;
                color: $color-dark;
            }

            figure {
                img {
                    width: 100%;
                    height: auto;
                }
            }

            h3 {
                @include titre(150%, 400);
                border: none;
                padding: 0 30px;
            }

            p {
                font-size: 13px;
                padding-top: 1em;

                i {
                    margin-left: 30px;
                }
            }
        }

        .article_formation {
            min-height: 375px;
            height: 375px;
            @include transition;
        }

        .article_formation:hover {
            transform: scale(1.1);
        }
    }
}
