body {
    // Formation & atelier
    .formation_atelier {
        margin: 2em 0;

        article {
            padding: 30px;
            margin-bottom: 2em;
            box-shadow: 8px 8px 12px #aaa;

            a {
                text-decoration: none;
                color: $color-dark;
            }

            figure {
                img {
                    width: 90%;
                    height: 8em;
                }

                img:hover {
                    opacity: 0.5;
                    width: 100%;
                }
            }

            h3 {
                font-family: $font-title;
                font-size: 150%;
            }

            p {
                font-size: 13px;
                padding-top: 1em;
                i {

                    margin-right: 0.3em;
                }
            }
        }
    }
}
