body {
    header {
        // Navbar
        .navbar {
            padding-left: 4em;
            padding-right: 4em;

            a {
                text-transform: uppercase;
                font-size: 11px;
                font-weight: bold;
            }
        }

        .navbar-default,
        .dropdown-menu {
            background-color: $background-navBar-footer;
            border-color: $background-navBar-footer;

            .navbar-brand {
                font-size: 15px;
            }

            .navbar-brand,
            .navbar-nav > li > a,
            .dropdown-menu > li > a {
                color: white;
            }

            .navbar-brand:hover,
            .navbar-nav > li > a:hover,
            .dropdown-menu > li > a:hover {
                color: $color-flash;
                background-color: transparent;
            }
        }

        .navbar-default {
            .navbar-nav {
                .open > a,
                .open > a:focus,
                .open > a:hover {
                    background-color: $background-navBar-footer;
                    color: $color-flash;
                }
                .active > a,
                .active > a:focus,
                .active > a:hover {
                    color: $color-flash;
                    background-color: transparent;
                }
            }

            .navbar-toggle,
            .navbar-toggle:focus,
            .navbar-toggle:hover,{
                background-color: $color-flash;
                border-color: $color-flash;
            }
        }
    }
}
