body {
    header {
        .navbar {
            padding-left: 1em;
            padding-right: 1em;
        }

        #menu-item-29 > a,
        #menu-item-30 > a {
            color: white;
            background-color: transparent;
        }

        #menu-item-29 > a:hover,
        #menu-item-30 > a:hover {
            color: $color-flash;
            background-color: transparent;
        }
    }

    main {
        letter-spacing: 0.5px;
        line-height: 2;

        .col-md-9 {
            padding: 0 1em;
        }

        // Evenements, Formation & Atelier, derniers articles, partenaire.
        .flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .detail_formation,
        .espace_content {
            article {
                figure {
                    text-align: center;

                    img {
                        float: none;
                        width: 90%;
                        height: 100%;
                    }

                    img:hover {
                        width: 100%;
                        height: 100%;
                    }
                }

                p {
                    .size-thumbnail:nth-child(1) {
                        margin-left: 0;
                    }
                }

                p {
                    margin-top: 2em;
                }

                .horaires {
                    margin-top: 1em;
                }
            }
        }

        .article_materiel {
            flex-direction: column;

            figure {
                order: 1;
            }
        }

        .formation_atelier {
            .article_formation {
                height: auto;
            }
        }

        .evenements {
            article {
                img {
                    opacity: 0.5;
                }

                h3 {
                    font-size: 32px;
                }
            }
        }
        .temoignages {
            h2 {
                padding: 0 0 0 1em;
                margin: 0;
            }

            article {
                margin: 1.5em;
            }
        }

        .aside {
            padding-top: 0;
        }
    }

    .accueil {
        .facebook {
            iframe {
                padding-left: 2em;
            }
        }

        .tiers_lieu {
            article {
                h2 {
                    padding-bottom: 0.5em;
                    margin-top: 0;
                }
            }
        }

        .partenaires {
            img {
                width: 6em;
                height: 5em;
            }
        }

        .derniers_articles {
            article {
                padding: 0;
            }
        }
    }

    footer {
        form {
            input {
                width: 15em;
            }
        }
    }
}
