body {

    header {
        .navbar {
            padding-left: 1em;
            padding-right: 1em;
        }
        #menu-item-29 > a,
        #menu-item-30 > a {
            color: white;
            background-color: transparent;
        }

        #menu-item-29 > a:hover,
        #menu-item-30 > a:hover {
            color: $color-flash;
            background-color: transparent;
        }

    }
    main {
        .col-md-9 {
            padding: 0 1em;
        }

        // Evenements, Formation & Atelier, derniers articles, partenaire.
        .flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .detail_formation,
        .espace_content {

            article {
                figure {
                    text-align: center;
                    img {
                        float: none;
                        width: 90%;
                        height: 100%;
                    }
                    img:hover {
                        width: 100%;
                        height: 100%;
                    }
                }

                p {
                    margin-top: 2em;
                }

                .horaires {
                    margin-top: 1em;
                }
            }
        }

        .article_materiel {
            flex-direction: column;

            figure {
                order: 1;
            }
        }

        .temoignages {
            h2 {
                padding: 0 0 0 2em;
                margin: 0;
            }

            article {
                margin: 1.5em 4.5em;
            }
        }

        .aside {
            padding-top: 0;
        }
    }

    .accuiel {
        .facebook {
            padding-left: 2em;
        }

        .partenaires {
            img {
                width: 6em;
                height: 4em;
            }
        }
    }

    footer {
        form {
            input {
                width: 15em;
            }
        }
    }
}
