body {
    // Slider page accuiel
    .slide_header {
        border-style: solid;
        border-width: 0 10px 15px 0;
        border-image: url(/static/img/tweed.png);

        img {
            width: 100%;
            max-height: 250px;
            min-height: 250px;
        }

        .flex_img {
            display: flex;

            img {
                width: 50%;
            }
        }

        .carousel-caption {
            font-family: $font-index;

            h3,
            p {
                @include titre(3rem, 700);
                border: none;
            }
        }

        .carousel-indicators {
            li {
                border-color: $color-flash;
            }

            .active {
                background-color: $color-flash;
            }
        }
    }
}
