body {
    main {
        .col-md-9 {
            margin-bottom: 0;
        }

        .horaires {
            margin-top: 2em;
        }

        .partenaires {
            min-height: 32em;
        }

        .aside {
            padding: 0 1.3em;
            margin-bottom: 0;

            h4 {
                padding: 0 0 1em 1.3em;
                margin: 0;
            }

            ul {
                padding: 0;
                margin-left: 2em;
            }

            a {
                i {
                    margin-bottom: 0;
                }
            }
        }

        .temoignages {
            h2 {
                padding: 0 0 0 3em;
                margin: 0;
            }

            article {
                margin: 1.5em 4.5em;
            }
        }
    }

    .accueil {
        .facebook {
            padding-left: 2em;
        }
    }
}
